<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>spring boot index</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>spring boot index</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/metro.min.css"/>
    <link rel="stylesheet" href="/css/metro-icons.min.css"/>
    <link rel="stylesheet" href="/css/metro-responsive.min.css"/>
    <link rel="stylesheet" href="/css/metro-schemes.min.css"/>
    <script src="../static/js/metro.min.js"></script>
    <style>
        body{
            background-color: #FFFFFF
        }
    </style>
</head>
<body>
    <div class="container page-content">
        <h1><a href="index.html" class="nav-button transform"><span></span></a>&nbsp;面板</h1>
    </div>
    <div class="tile-area no-padding">

        <div class="clear-float">
            <div class="place-right">
                <form>
                    <div class="input-control text margin20" style="width: 300px">
                        <input name="q" placeholder="快速输入员工信息" type="text">
                        <button class="button"><span class="mif-search"></span></button>
                    </div>
                </form>
            </div>
            <h4 class="place-left">快速搜索</h4>
        </div>

        <div class="tile bg-orange fg-white" data-role="tile">
            <!--<span class="mif-user"></span>-->
            <div class="tile-content iconic">
                <span class="icon mif-users"></span>
                <span class="tile-label">员工管理</span>
            </div>
        </div>

        <div class="tile bg-green fg-white element-selected" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-home"></span>
                <div class="tile-label">公司管理</div>
            </div>
        </div>

        <div class="tile bg-green fg-white element-selected" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-home"></span>
                <div class="tile-label">用户管理</div>
            </div>
        </div>

        <div class="tile bg-green fg-white element-selected" data-role="tile">
            <div class="tile-content iconic">
                <span class="icon mif-home"></span>
                <div class="tile-label">用户管理</div>
            </div>
        </div>
        <!---->

    </div>

</body>
</html>