<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>spring boot index</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>spring boot index</title>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/metro.min.css"/>
    <link rel="stylesheet" href="/css/metro-icons.min.css"/>
    <link rel="stylesheet" href="/css/metro-responsive.min.css"/>
    <link rel="stylesheet" href="/css/metro-schemes.min.css"/>
    <script src="/js/metro.min.js"></script>
    <script>
        //<![CDATA[
        $(function () {
            $.ajaxSetup({
                async: false
            });
            $.post("/userListInfo",{},function (data) {
                $.ajaxSetup({
                    async: true
                });
                if(data.success){
                    $("#comselect").empty();
                    $(data.coms).each(function(i,e){
                        $("#comselect").append("<option value='"+e.name+"'>"+e.value+"</option>");
                    });
                }
            });
        })
        function clickSearch() {
            console.log("1")
            metroDialog.toggle('#dialog9');
            $("#dialogTitle").text("设置查询条件");
            $("#actionBtn").text("增加");
            $("#actionBtn").attr("action","search");
        }
        function clickAdd() {
            console.log("1")
            metroDialog.toggle('#dialog9');
            $("#dialogTitle").text("新增用户");
            $("#actionBtn").text("增加");
            $("#actionBtn").attr("action","add");
        }

        //]]>
    </script>
</head>
<body>

<div class="container page-content">
    <h3>
        <span class="mif-arrow-left"></span>
        &nbsp;员工管理
    </h3>
</div>
<div class="app-bar" data-role="appbar">
    <button id="addBar" class="button lighten place-right">
        <span class="mif-plus" onclick="clickAdd()"></span>添加</button>
    <button id="searchBar" class="button lighten place-right">
        <span class="mif-search" onclick="clickSearch()"></span>查询</button>
</div>

<div data-role="dialog" id="dialog9" class=" dialog"
     data-close-button="true" data-overlay="true" data-overlay-color="op-dark"
     data-overlay-click-close="true"
     style="width: auto; height: auto;  ">
    <!--padding20-->
    <!--left: 267px; top: 372px;-->
    <h3 id="dialogTitle">设置查询条件</h3>
    <p>
    <div class="example" data-text="">
        <div class="grid">
            <div class="row">
                <div class="cell">
                    <label>员工姓名</label>
                    <div class="input-control text full-size">
                        <input type="text" id="name"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <label>员工电话</label>
                    <div class="input-control password full-size">
                        <input type="text" id="phone"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <label>员工性别</label>
                    <!-- Radio button -->
                    <div class="input-control select" style="width:60px">
                        <select>
                            <option>男</option>
                            <option>女</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <label>所属公司</label>
                    <!-- Radio button -->
                    <div class="input-control select" id="comselect" style="width:120px">
                        <select>
                            <option>男</option>
                            <option>女</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <input type="button" id="actionBtn" class="place-right" value="查询"/></div>
                </div>
            </div>
        </div>

    </p>
    <span class="dialog-close-button"></span>
</div>

</body>
</html>